//Styling for the modal
#modal {
  //Setting the position so the modal always shows
  //in the corner of the webpage
  position: fixed;
  top: 10vh;
  left: calc(50% - (240px + 1rem));
  width: 480px;
  z-index: 100; //Keeps the modal infront of all content
  background-color: #DAE8FC;
  padding: 1rem;

  //stops text overflowing outside of the modal component)
  overflow-y: auto;
  overflow-x: hidden;

  //Stopping the modal from going outside the display
  max-width: calc(80vw - 2rem);
  max-height: calc(80vh - 2rem);

  //If the screen is smaller than 600px wide, the 
  //modal will lock to the top left corner, not centre
  @media (max-width: 600px) {
    left: calc(10vw);
  }

  #close-button {
    //position relative to top right of 
    //the header element
    position: absolute; 
    background: transparent;
    top: 12px;
    right: 12px;

    //Removes the default button styling
    border: none;
    outline: none;

    //makes cross smaller
    img {
      width: 16px;
      height: 16px;
    }

    margin: 0;
    padding: 0;

    //appears infront of modal at all times (can be seen)
    z-index: 101;

    &:hover {
      cursor: pointer;
    }
  }

  #header {
    background-color: #DAE8FC;

    //always in the top left corner of the modal
    //so it stays covering the entire top band of modal
    position: fixed;
    top: 10vh;
    left: calc(50% - (240px + 1rem));

    z-index: 200;
    
    //will always be the entire width of the modal
    max-width: calc(80vw);
    width: calc(480px + 2rem);

    border-bottom: 1px solid black;

    //moves with the modal when it has to resize 
    @media (max-width: 600px) {
      left: calc(10vw);
    }

    h3 {
      text-align: center;
      margin-top: 0;
      padding: 8px 0;
    }
  }

  ul {
    list-style-type: square;
  }

  ol, ul {
    margin-left: 20px;
    text-align: left;
  }

  #modal-content {
    margin-top: 3rem;

    .btn:hover {  
      background-color: #e4e4e4;
    }
  }

  #student-assignments, #class-assignments {
    .student-assignment-card, .class-assignment-card {
      padding: 1rem 0;
      border-bottom: 1px solid grey;

      #class-results-table {
        border-collapse: collapse;
        text-align: center;

        tr, th, td {
          border: 1px solid black;
          padding: 2px;
        }
      }

      #button {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
      }
    }
  }

  #question-bank {
    #bank-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;

      input {
        outline: none;
        border: none;
        padding: 8px;
        border-radius: 4px;
        height: 1rem;
        max-width: 50%;
      }
    }

    #bank-questions {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
      flex-direction: row;

      button.bank-question-card {
        width: 200px;
        padding: 8px;
        margin-bottom: 8px;
        border: 1px solid black;
        border-radius: 8px;
        
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        text-align: left;

        transition: all ease 0.3s;

        h3 {
          margin-bottom: 8px;
        }

        i {
          margin-top: 4px;
        }

        &.short {
          background-color: #D5E8D4;
        }

        &.multichoice {
          background-color: #E1D5E7;
        }

        &:hover {
          filter: brightness(96%);
          cursor: pointer;
        }
      }
    }
  }

  #sure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    #buttons {
      margin: auto;
      margin-top: 1rem;
      display: flex;
      justify-content: space-around;
      width: 50%;
      min-width: 12rem;
      
      .btn {
        width: 100%;
        max-width: 5rem;
      }
    }
  }
}

#backdrop {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #3131317e;
}
