//Styling for all pages
.form-control {
  position: relative;
  margin-top: 2rem;

  label {
    position: absolute;
    bottom: 4px;
    left: 0;
    color: grey;
    pointer-events: none;

    transition: all 0.3s ease;
  }

  input {
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    width: 100%;
    font-size: 17px;

    transition: all 0.3s ease;

    //Moves the label for the input above the 
    //input box when the user is typing
    &:focus ~ label,
    &:valid ~ label {
      transform: translateY(-20px);
      font-size: 15px;
      color: #1d61e9;
    }

    //Makes the bottom border blue when 
    //the user is typing
    &:focus {
      border-bottom: 2px solid #1d61e9;
    }
  }
}

//Styling for the role radio buttons
.role {
  label, input {
    width: 100%;
    display: block;
    position: initial;
    outline: none;
    margin: auto;
    text-align: left;
    color: black;
    cursor: initial;
  }

  .radioBtn {
    margin: auto;
    display: flex;
    text-align: right;
  }

  input:hover {
    cursor: pointer;
  }
}

.form-actions {
  width: 100%;
  margin: 1rem 0;
  text-align: right;

  #submit {
    width: 50%;
  }
}

.btn {
  outline: none;
  border: none;
  background: #f0f0f0;
  color: black;
  text-align: center;
  padding: 0.25rem;
  transition-duration: 0.3s;

  box-shadow: #43475545 0px 0px 0.25em, 
              #5a7dbc0d 0px 0.25em 1em;

  &:hover {
    background-color: #DAE8FC;
    cursor: pointer;
  }
}

//Base styling for each main div 
%main {
  margin: auto;
  margin-top: 6rem;

  background: white;
  padding: 2rem;
  border-radius: 8px;

  box-shadow: #43475545 0px 0px 0.25em, 
              #5a7dbc0d 0px 0.25em 1em;
}

//styling for the authentication page
#auth {
  @extend %main; //gives the main page styling 
  //(white background, shadow etc.)

  max-width: calc(80% - 4rem);
  width: 250px; 

  #options {
    width: 100%;
    
    display: grid;
    grid-template-columns: 50% 50%;

    .optionBtn {
      outline: none;
      border: none;
      background-color: white;
      border-bottom: 1px solid white;
      font-size: 17px;
    }

    .current {
      color: #1d61e9;
    }

    .other {
      color: #838383;

      &:hover {
        color: black;
        cursor: pointer;
      }
    }

    #left {
      border-right: 1px solid silver;
    }

    #right {
      border-left: 1px solid silver;
    }
  }
}

#teacher-homepage {
  @extend %main; //gives the main page styling 
  //(white background, shadow etc.)

  max-width: calc(80% - 4rem);
  width: 640px; 

  #welcome-msg {
    text-align: left;
    margin-bottom: 1rem;
  }

  #thp-tables {
    display: grid;
    grid-template-columns: 50% 50%;

    .table {
      margin: 1rem 0;
      text-align: left;

      td {
        padding: 2px;
      }

      .left {
        font-weight: bold;
      }
    }

    #classes {
      border-right: 1px solid black;
      padding-right: 2rem;
    }

    #students {
      border-left: 1px solid black;
      padding-left: 2rem;
    }
  }
  
}
