//Styling for all pages
.form-control {
  position: relative;
  margin-top: 2rem;

  label {
    position: absolute;
    bottom: 4px;
    left: 0;
    color: grey;
    pointer-events: none;

    transition: all 0.3s ease;
  }

  input {
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    width: 100%;
    font-size: 17px;

    transition: all 0.3s ease;

    //Moves the label for the input above the 
    //input box when the user is typing
    &:focus ~ label,
    &:valid ~ label {
      transform: translateY(-20px);
      font-size: 15px;
      color: #1d61e9;
    }

    //Makes the bottom border blue when 
    //the user is typing
    &:focus {
      border-bottom: 2px solid #1d61e9;
    }
  }
}

//Styling for the role radio buttons
.role {
  label, input {
    width: 100%;
    display: block;
    position: initial;
    outline: none;
    margin: auto;
    text-align: left;
    color: black;
    cursor: initial;
  }

  .radioBtn {
    margin: auto;
    display: flex;
    text-align: right;
  }

  input:hover {
    cursor: pointer;
  }
}

.form-actions {
  display: grid;
  margin: auto;
  margin-top: 1rem;
  grid-template-columns: 50% 50%;

  #submit {
    margin-left: 0.5rem;
  }

  #switch {
    margin-right: 0.5rem;
  }
}

.btn {
  outline: none;
  border: none;
  background: #f0f0f0;
  color: black;
  text-align: center;
  padding: 0.25rem;
  transition-duration: 0.3s;

  box-shadow: #43475545 0px 0px 0.25em, 
              #5a7dbc0d 0px 0.25em 1em;

  &:hover {
    background-color: #DAE8FC;
    cursor: pointer;
  }
}

//styling for the authentication page
#auth {
  width: 250px; 
  max-width: 80%;
  margin: auto;

  background: white;
  padding: 2rem;
  border-radius: 8px;

  box-shadow: #43475545 0px 0px 0.25em, 
              #5a7dbc0d 0px 0.25em 1em;
}