//Importing the default styling from the index.scss page
@import 'index'; 

%card {
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  background-color: $primary-blue;
  margin-bottom: 12px;

  border: none;
  box-shadow: #43475545 0px 0px 0.25em, 
              #5a7dbc0d 0px 0.25em 1em;

  .heading {
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid grey;
    padding-bottom: 4px;
    margin-bottom: 4px;
  }

  .subheading {
    text-align: center;
    font-style: italic;
    margin-bottom: 8px;
  }

  p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .right {
      text-align: right;
      padding-left: 4px;
    }
  }

  .footer {
    width: 100%;
    text-align: center;
  
    .btn {
      margin-top: 1em;
      font-size: 14px;

      &:hover {
        background-color: $grey-hover;
      }
    }
  }
}

%top-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  .form-control {
    margin-top: 8px;
    width: 100%;
  }

  .btn {
    margin: auto;
    margin-top: 8px;
    height: 2em;
  }
}

#student-homepage {
  @extend %main; //gives the main page styling 
  //(white background, shadow etc.)

  max-width: calc(80% - 4rem);
  width: 640px; 

  #student-homepage-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;

    @media (max-width: 600px) {
      flex-direction: column;
      align-items: center;

      .btn {
        margin: 0 !important;
        margin-top: 8px !important;
      }
    }

    #welcome-msg {
      text-align: left;
      font-weight: 700;
    }

    .btn {
      min-height: 2em;
      margin-left: 8px;
    }
  }

  #shp-main {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;

    /*if the screen is smaller than 880px wide 
    (make tables vertically stacked instead of 
    horizontally stacked)*/
    @media (max-width: 600px) {
      grid-template-columns: 100%;

      #assignments {
        border-right: none !important;
        border-bottom: 1px solid grey;
        padding-bottom: 2rem !important;
      }

      #classes {
        padding-top: 2rem !important;
        border-left: none !important;
        border-top: 1px solid grey;
      }
    }

    .title {
      text-align: center;
      margin-bottom: 1rem;
    }

    #assignments {
      border-right: 1px solid grey;
      padding: 8px;
      text-align: center;

      #search-assignments {
        @extend %top-input;

        #search-buttons {
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          flex-direction: row;
          width: 100%;

          .btn {
            width: 80px;

            &.selected {
              background-color: #c2dbff;
            }
          }
        }
      }

      #assignment-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        #assignment-card {
          @extend %card;

          &.missing {
            background-color: #ff9f9f !important;
          }
        }
      }
    }

    #classes {
      border-left: 1px solid grey;
      padding: 8px;

      #join-class {
        @extend %top-input;
      }

      #class-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        #class-card {
          @extend %card;

          &.selected {
            background-color: #c2dbff;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}