#navbar {
  width: 100%; //across entire width of browser;
  margin-bottom: 8px; //8 pixels of whitespace below navbar
  background-color: #DAE8FC; //light-blue

  img {
    height: 50px; //logo image always 50px tall
    margin: 4px; //4px of whitespace around image
  }
}
